//*mixins*//
@import "./mixin.scss";

/*test block*/
.header {
  width: 100%;
  padding: 1rem 0;
  background-color: rgba($bg-primary, 0.6);
  transition: all 0.2s linear;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--brand{
      width: 10%;
    }
    &--phone {
      a {
        text-decoration: none;
        color: $text-color;
        font-size: 1.8rem;
        font-family: $title;
        transition: color 0.2s linear;
        &:hover{
          cursor: pointer;
          color: $black;
        }
      }
    }
  }
  &__fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba($bg-primary, 0.9);
  }
}
.burger__btn {
  display: block;
  width: 3rem;
  height: 3rem;
  position: relative;
  span {
    display: block;
    background-color: $text-color;
    width: 2.6rem;
    height: 0.3rem;
    position: absolute;
    left: 0.2rem;
    top: 1.4rem;
    transition: background-color 0.2s linear, width 0.2s linear, transform 0.2s linear;
    &:first-child {
      top: 0.8rem;
    }
    &:last-child {
      top: 2rem;
    }
  }
  &:hover {
    cursor: pointer;
    span {
      background-color: $black;
    }
  }
  &--active {
    span {
      &:first-child {
        width: 0;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:last-child {
        width: 0;
      }
    }
  }
}
