//*mixins*//
@import "./mixin.scss";

.shipping {
   margin-top: 4rem;
   @include tablet {
      margin-top: 3rem;
   }
   @include mobile {
      margin-top: 2rem;
   }
}
.shipping__content {
   &--title {
      margin-bottom: 2rem;
      text-align: center;
      h3 {
         font-family: $title;
         font-size: 5rem;
         color: $text-color;
         @include tablet {
            font-size: 4.5rem;
         }
         @include mobile {
            font-size: 4rem;
         }
         @include mobile-sm {
            font-size: 3rem;
         }
      }
      @include mobile {
         margin-bottom: 1.5rem;
      }
   }
   &--text {
      position: relative;
      p {
         font-family: $text;
         font-size: 2rem;
         font-weight: 500;
         color: $text-color;
         margin-bottom: 2rem;
         &:last-child {
            margin-bottom: 0;
         }
         @include mobile {
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
         }
         @include mobile-sm {
            font-size: 1.6rem;
         }
      }
      &::after {
         content: "";
         position: absolute;
         bottom: -1rem;
         left: 0;
         z-index: 15;
         width: 100%;
         height: 2px;
         background-color: $bg-primary;
      }
   }
}
